*{
	font-family: Calibri;
	font-size: 15px;
}

h1 {
	color:  black;
	font-size: 2rem;
}


#paragraph3{
	color: green;
}

#bootcamp {
	text-transform: uppercase;
}


.Languages {
	background: yellow;

}


li[required]{
	border-width: 2px;
	border-style: solid;
	border-color: green;
}

img + ul {
	list-style: none;
}

#img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}





body > section > ul > li {
	letter-spacing: 15px;
	color: black;
}

h4 ~ p {
	text-align: center;
}

